<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.seafile.seadroid2">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- get list of Seadroid accounts -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <!-- to start monitor services during boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- to modify Seadroid's own account sync settings -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <!-- get list of Seadroid accounts -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <!--Set/Get the auth token from the account manager -->
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <!-- Add/Remove/Update Seafile accounts -->
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <application
        android:name=".SeadroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.seafile.seadroid2.ui.activity.TransferActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.seafile.seadroid2.fileschooser.MultiFileChooserActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="com.seafile.seadroid2.gallery.MultipleImageSelectionActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.activity.GalleryActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.activity.FileActivity"
                  android:label="@string/app_name">
        </activity>

        <service android:name=".transfer.TransferService"/>
    </application>

</manifest>